<ion-header>
  <ion-navbar>
    <ion-title>Treinos</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <!-- Trocar condição do *ngIf para verificar a ocupação do usuário logado -->
  <div *ngIf="user.ocupacao === 'Treinador'" text-center>
    <img class="foto-perfil" src="./assets/imgs/profile-default.png"><br>
    <span>{{ aluno.nome }}</span><br>
  </div>

  <ion-card *ngFor="let item of treinos" (tap)="abrirTreino(item)">
    <ion-card-content>
      <ion-card-title>{{ item.foco }}</ion-card-title>
      <p>Treinador: {{ item.treinador.nome }}</p>
    </ion-card-content>
  </ion-card>
</ion-content>
